<ion-tabs>
  <ion-tab-bar slot="bottom">

    <!-- Tab Procurar (Home) -->
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Procurar</ion-label>
    </ion-tab-button>

    <!-- Tab Minha Biblioteca -->
    <ion-tab-button tab="minhabiblioteca" href="/tabs/minhabiblioteca">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>Minha Biblioteca</ion-label>
    </ion-tab-button>

    <!-- Tab Adicionar Livro -->
    <ion-tab-button tab="adicionar-livro" href="/tabs/adicionar-livro">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Adicionar Livro</ion-label>
    </ion-tab-button>

    <!-- Tab Meu Perfil -->
    <ion-tab-button tab="meu-perfil" href="/tabs/meu-perfil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Meu Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
