<ion-header>
  <ion-toolbar>
    <ion-title>Toolbar</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="procurar">
      <ion-icon name="search"></ion-icon>
      Procurar
    </ion-tab-button>
    <ion-tab-button tab="minhabiblioteca">
      <ion-icon name="library"></ion-icon>
      Minha Biblioteca
    </ion-tab-button>
    <ion-tab-button tab="addicionar-livro">
      <ion-icon name="book"></ion-icon>
      Adicionar Livro
    </ion-tab-button>
    <ion-tab-button tab="meu-perfil">
      <ion-icon name="person"></ion-icon>
      Meu Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>